{% extends 'base.html' %}

{% block content %}
<section id="catalog">
  <div class="container p100">
    <div class="catalog">
      <div class="title">Все букеты</div>
      <div class="catalog__block">

        {% for bouquet in bouquets %}
          <div class="catalog__block_bouquet">
              <span class="catalog__block_intro">{{ bouquet.name }}</span>
              <span class="catalog__block_price">{{ bouquet.price }} руб.</span>
              <a href="{% url 'card' bouquet.id %}"><img class="catalog__block_img" src="{{ bouquet.image.url }}"></a>
          </div>
        {% endfor %}

      </div>
      <!-- <button class="btn largeBtn catalog__btn">Показать ещё</button> -->
    </div>
  </div>
</section>
{% endblock %}
